body{
	background-color: #e8eff6;
}
canvas {
	position:absolute;
	top:8px;
	left:8px;
	z-index:0;
}
.total{
	width:100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap:wrap;
}

.canvas-holder {
	width:640px;
	height:640px;
	box-shadow:20px 20px 0px #b1bfcb;
}

#c {
}

#ui_canvas {
  z-index:1;
}

#extras {
	margin-left: 50px;
	width:380px;
	font-family: Helvetica, sans-serif;
	font-size:0.75em;
}

.spinning {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
    	transform: rotateZ(0deg);
  	}
  	100% {
  		transform: rotateZ(360deg);
    }
}

ul {
	list-style-type: none;
	list-style: none;
	padding:5px;
}

li {
	left-margin:0px;
	padding-top:10px;
}

.helper{
	background-color:#b1d2d9;
	border-radius:20px;
	width:320px;
	padding: 20px;
}

.actions{
	background-color:#96d5ca;
	border-radius:20px;
	width:320px;
	padding: 20px;
}
h1 {
	font-size: 6em;
}
button {
    padding: 10px;
    margin-left:10px;
    width: 90px;
    background-color: #7e92dd;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #d8c333;
    font-size: 14px;
}

button:active{
	background-color:#5cf;
}

button:visited{
	background-color:#4bf;
}

input {
	font-size:1em;
	font-family: Helvetica,sans-serif;
}

#gif-over {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	z-index:5;
}

#gif-overback {
	background-color:#000;
	position:absolute;
	opacity:0.7;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:0;
}

#gif-overfront {
	background-color:#000;
	position:absolute;
	opacity:1.;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	z-index:1;
}