canvas {
	position:absolute;
	top:8px;
	left:8px;
	z-index:0;
}

#ui_canvas {
  z-index:1;
}

.spinning {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
    	transform: rotateZ(0deg);
  	}
  	100% {
  		transform: rotateZ(360deg);
    }
}

button {
	font-size:1.5em;
	font-family: Helvetica,sans-serif;
}

input {
	font-size:1em;
	font-family: Helvetica,sans-serif;
}

#gif-over {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	z-index:5;
}

#gif-overback {
	background-color:#000;
	position:absolute;
	opacity:0.7;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:0;
}

#gif-overfront {
	background-color:#000;
	position:absolute;
	opacity:1.;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	z-index:1;
}